.spinner {
    margin-top: 20px;
    text-align: center;
}

.spinner svg {
    animation: spinner .6s linear infinite;
    font-size: 36px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}